.ipynb_checkpoints/HW9 - Analyzing Power from Radioactive Isotopes-checkpoint.ipynb
.ipynb_checkpoints/Analyzing a Combined Cycle - ME 529 HWs 5-7-checkpoint.ipynb
.ipynb_checkpoints/Bio-fuel Analysis-checkpoint.ipynb
